%p#notice= notice
%h1 Listing Artforms
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @artforms.each do |artform|
      %tr
        %td= link_to 'Show', artform
        %td= link_to 'Edit', edit_artform_path(artform)
        %td= link_to 'Destroy', artform, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Artform', new_artform_path
