.artist-form
  %h2 Sign up as Artist
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :first_name
      %br/
      = f.password_field :first_name, placeholder:'Kanye'
    .field
      = f.label :last_name
      %br/
      = f.password_field :last_name, placeholder:'West'
    .field
      = f.label :email
      %br/
      = f.email_field :email, placeholder: 'kanye@west.com', autofocus: true
    .field
      = f.label :password
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, placeholder:'ilovemyself99', autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, placeholder:'ilovemyself99', autocomplete: "off"
    .field
      = f.label :contact_number
      %br/
      = f.password_field :contact_number, placeholder:'07 1234 56789'
    .hidden-field
      - f.hidden_field :role, :value => 'artist'
    .actions
      = f.submit "Sign up"

.venue-form
  %h2 Sign up as Venue
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :first_name
      %br/
      = f.password_field :first_name, placeholder:'Kanye'
    .field
      = f.label :last_name
      %br/
      = f.password_field :last_name, placeholder:'West'
    .field
      = f.label :email
      %br/
      = f.email_field :email, placeholder: 'kanye@west.com', autofocus: true
    .field
      = f.label :password
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, placeholder:'ilovemyself99', autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, placeholder:'ilovemyself99', autocomplete: "off"
    .field
      = f.label :contact_number
      %br/
      = f.password_field :contact_number, placeholder:'07 1234 56789'
    .hidden-field
      - f.hidden_field :role, :value => 'venue'
    .actions
      = f.submit "Sign up"
      
= render "devise/shared/links"
